# functions
cpu () {
  ps -A -o %cpu | awk '{s+=$1} END {print "💻   " s "%"}'
}

mcd () {
  mkdir -p $1
  cd $1
}

search () {
  echo "\033[0;33mSearching...\033[0;37m"
  grep -r --color --exclude-dir=node_modules,public,"$2" "$1" .
  echo "🔍  \033[0;32mSearch for $1 completed.\033[0;37m"
}

wifi () {
  curl -v https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -
}
